#root {
  text-align: center;
}

.slick-dots li button {
  background-color: #46a358 !important;
  opacity: 30%;
}
.slick-active button {
  background-color: #46a358 !important;
}
.ant-pagination-item-active:hover {
  background-color: #46a358;
  color: white !important;
}
